footer {
  width: 100%;
  height: auto;
}

.footer-div {
  background: #73c2fb;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 40px;
}

.div-redes-sociales-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.div-redes-sociales-footer a {
  margin-left: 100px;
}

.img-socials-footer {
  width: 30px;
  pointer-events: none;
}

.img-logo-footer {
  width: 50px;
}

.div-enlaces-footer {
  margin-top: 7px;
}

.div-enlaces-footer li {
  list-style: none;
}

.div-enlaces-footer h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.estilo-enlace-footer {
  color: #000000;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

.div-enlaces-footer a:hover {
  color: #f1f5f2;
}

/*





  MEDIAQUERIES PARA HACER QUE EL FOOTER SE AJUSTE AL TAMAÑO DE LA PANTALLA







*/

@media (max-width: 770px) {
  .div-redes-sociales-footer a {
    margin-left: 50px;
    margin-top: 5px;
  }

  .div-enlaces-footer li {
    margin-top: 7px;
  }
}

@media (max-width: 630px) {
  .div-enlaces-footer a {
    font-size: 15px;
  }

  /*.div-redes-sociales-footer a {
    margin-left: 40px;
  }*/
}

@media (max-width: 500px) {
  .footer-div {
    grid-template-columns: 1fr 1fr;
  }

  .div-enlaces-footer:nth-child(3) {
    grid-column: span 2; /* Hace que ocupe ambas columnas */
    text-align: center; /* Centrar el contenido */
    margin-top: 0; /* Eliminar margen superior */
    padding-top: 20px; /* Espaciado superior */
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Opcional: línea separadora */
  }
}

@media (max-width: 450px) {
  /*.div-redes-sociales-footer a {
    margin-left: 20px;
  }*/
}
