.contenedor-numero-tres {
  padding: 5rem 0;
  margin: 0 auto;
  width: 70%;
}

.contenedor-de-imagen-e-info {
  background-color: #87cefa;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 60px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
  align-items: center;
  text-align: center;
}

.contenedor-de-imagen-e-info img {
  width: 300px;
  height: auto;
  border-radius: 7%;
}

.contenedor-de-imagen-e-info h3 {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.contenedor-de-imagen-e-info p {
  font-family: "Nunito", sans-serif;
  text-align: center;
  font-size: 18px;
  text-justify: inter-word;
  margin-bottom: 5px;
  padding: 0 10px;
}

.contenedor-de-imagen-e-info p i {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
}

/*


  Responsive


*/

@media (max-width: 940px) {
  .contenedor-de-imagen-e-info h3 {
    width: 90%;
    font-size: 20px;
    margin: 15px auto;
  }

  .contenedor-de-imagen-e-info p {
    font-size: 14px;
    /*width: 90%;
    margin: 10px auto;
    text-align: center
    */
  }
}

@media (max-width: 780px) {
  .contenedor-de-imagen-e-info {
    grid-template-columns: 1fr;
    padding: 0;
  }
  .contenedor-de-imagen-e-info img {
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .contenedor-de-imagen-e-info p {
    font-size: 12px;
  }
}
