<section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        La experiencia no es lo que te ocurre, es lo que haces con lo que te
        ocurre
      </h1>
      <p class="heading-text">
        El nuevo modelo de GPT está ya disponible para desarrolladores y se hará
        público en las próximas semanas
      </p>
      <a href="/" class="btn btn-simple">Demos</a>
      <a href="/" class="btn btn-full-style">VIP &#10003;</a>
    </div>
    <div class="hero-grid-container">
      <div class="grid-item">
        <img
          class="image-grid"
          src="{{ url_for('static', filename='images/girl-img.jpg') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/robot-img-1-min.jpg') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item full-column-img">
        <img
          src="{{ url_for('static', filename='images/mikhail-girl-img.jpg') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/phone-2-cam.jpg') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/laptop-img.jpg') }}"
          alt="imagen-slider"
        />
      </div>
    </div>
  </div>
</section>
