<section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        La tecnología es importante, pero lo único que realmente importa es qué
        hacemos con ella
      </h1>
      <p class="heading-text">
        Este es un texto de ejemplo para el sitio web, si estás leyendo esto
        deberías detenerte lo más pronto posible
      </p>
      <a href="/" class="btn btn-simple">Demos</a>
      <a href="/" class="btn btn-full-style">VIP</a>
    </div>
    <div class="hero-grid-container">
      <div class="grid-item">
        <img
          class="image-grid"
          src="{{ url_for('static', filename='images/girl-img.png') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/robot-img.png') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item full-column-img">
        <img
          src="{{ url_for('static', filename='images/mikhail-girl-img.png') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/phone-2-cam.png') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/laptop-img.png') }}"
          alt="imagen-slider"
        />
      </div>
    </div>
  </div>
</section>
