<section class="section-hero">
  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        La tecnología es importante, pero lo único que realmente importa es qué
        hacemos con ella
      </h1>
      <p class="heading-text">
        Hasta la fecha, no se ha diseñado un ordenador que sea consciente de lo
        que está haciendo; pero, la mayor parte del tiempo, nosotros tampoco lo
        somos.
      </p>
      <a href="/" class="btn btn-simple">Demos</a>
      <a href="/" class="btn btn-full-style">VIP</a>
    </div>
    <div class="hero-grid-container">
      <div class="grid-item">
        <img
          class="image-grid"
          src="{{ url_for('static', filename='images/servers-ai-generated.webp') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/robot-hand-min.webp') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item full-column-img">
        <img
          src="{{ url_for('static', filename='images/mikhail-vr-girl.webp') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/phone-2-cam.webp') }}"
          alt="imagen-slider"
        />
      </div>
      <div class="grid-item">
        <img
          src="{{ url_for('static', filename='images/odinzero-tropical.webp') }}"
          alt="imagen-slider"
        />
      </div>
    </div>
  </div>
</section>
