<section class="card-products">
  <div class="container">
    <div class="card">
      <h3>Acclamator</h3>
      <img
        class="image-card"
        src="{{ url_for('static', filename='images/robo1.png') }}"
        alt="Robot 1"
      />

      <div class="product-info">
        <div class="customer-rating">
          ⭐⭐⭐⭐⭐
          <p>(66)</p>
        </div>

        <p class="initial-price">$115,000.00</p>
        <p class="new-price">$85,000.00</p>
        <a href="/" class="btn-buy">Comprar</a>
      </div>
    </div>

    <div class="card">
      <h3>Venator</h3>
      <img
        class="image-card"
        src="{{ url_for('static', filename='images/robo2.png') }}"
        alt="Robot 2"
      />
      <div class="product-info">
        <div class="customer-rating">
          ⭐⭐⭐⭐⭐
          <p>(32)</p>
        </div>
        <p class="base-price">$120,000.00</p>
        <a href="/" class="btn-buy">Comprar</a>
      </div>
    </div>

    <div class="card">
      <h3>Orleon</h3>
      <img
        class="image-card"
        src="{{ url_for('static', filename='images/robo3.png') }}"
        alt="Robot 3"
      />
      <div class="product-info">
        <div class="customer-rating">
          ⭐⭐⭐⭐⭐
          <p>(43)</p>
        </div>
        <p class="base-price">$90,000.00</p>
        <a href="/" class="btn-buy">Comprar</a>
      </div>
    </div>

    <div class="card">
      <h3>Bawler</h3>
      <img
        class="image-card"
        src="{{ url_for('static', filename='images/robo4.png') }}"
        alt="Robot 4"
      />
      <div class="product-info">
        <p class="next-product">Próximo lanzamiento!</p>
      </div>
    </div>
  </div>
</section>
