<section class="contenedor-numero-tres">
  <div class="contenedor-de-imagen-e-info">
    <img
      src="{{ url_for('static', filename='images/dev-logo-main.png') }}"
      alt="Imagen de un desarrollador trabajando "
    />
    <div>
      <h3>Nullam lorem ante y pretium id vulputate</h3>
      <p>
        Pellentesque condimentum gravida bibendum. Ut a dictum arcu, ut volutpat
        dolor. Nullam lorem ante, pretium id vulputate non, scelerisque nec
        erat.
      </p>
      <p><i>- Nullam lorem ante</i></p>
    </div>
  </div>
</section>
